html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background: url(../assets/img/swordfish.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
}


canvas {
  display: block;
  margin: 100px 0 100px 100px;
  border: 1px solid black;
  background: url(../assets/img/edward-earth.jpg);
}
