html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  font-family: sans-serif;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  background: transparent;
}

html {
  height: 1000px;
  width: 1333.334px;
}

ul {
 list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
}

.game-container {
  display: block;
  position: relative;
  height: inherit;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: url(../assets/img/logo.jpg);
  background-repeat: no-repeat;
}

.created-by {
  color: white;
  float: right;
  margin-right: 15%;
}

.created-by a {
  color: blue;
}

@font-face {
  font-family: OrbitronLight;
  src: url("../assets/fonts/Orbitron/orbitron-light.otf") format("opentype");
}

@font-face {
  font-family: Orbitron;
  src: url("../assets/fonts/Orbitron/orbitron-medium.otf") format("opentype");
}

@font-face {
  font-family: OrbitronBold;
  src: url("../assets/fonts/Orbitron/orbitron-black.otf") format("opentype");
}

@font-face {
  font-family: Roundup;
  src: url("../assets/fonts/DSRoundup/DSRoundup.ttf") format("truetype");
  color: white;
}

canvas {
  display: block;
  margin-right: 100px;
  border: 1px solid black;
  background: url(../assets/img/edward-earth.jpg);
  background-position: 0 100px;
  background-repeat: no-repeat;
}
