html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: black;
}

.game-container {
  display: block;
  position: relative;
  height: inherit;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  background: url(../assets/img/swordfish.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.game-info {
  height: 150px;
}

canvas {
  display: block;
  margin-right: 100px;
  border: 1px solid black;
  background: url(../assets/img/edward-earth.jpg);
}
